.venv/
bin/
lib/install/
build/
.vscode/
fastdds_example/

config.mk
*.o
DoorOpenAttacker
DoorLockAttacker
vendorid_attack
hids_system
nids_detection_system
make.sh
nids-collector.ll
DoorStatus
flushHandlePub
DoorCommand
flushHandleSub
VelocitySub
VelocityPub
oss/security_client/security_client
oss/security_manager/security_manager
oss/test_diagnostic_mgr/test_diagnostic_mgr
/Makefile
oss/det_report_pub/det_report_pub
CMakeUserPresets.json
REQ.md
**/__pycache__/
*.pyc
Testing/
docker/dbg/docker-compose.yml
